@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
*{
  padding: 0;
  margin: 0;
}

header{
  background-color: silver;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: silver;
  height: 19vh;
}

ul li{
  list-style: none;
  letter-spacing: 3px;
  margin-left: 32px;
  display: inline-block;
  
}

ul li a{
  font-size: 18px;
  text-decoration: none;
  color: #1136ff;
  display: flex;
}

li a:hover{
  color: green;
}

.logo{
  transition: all 1s;
  cursor: pointer;
  border-radius: 5px;
}

.logo:hover{
  -webkit-transform: rotateZ(60deg);
    transform: rotateZ(60deg);
}

.informacoes-tubo{
  background-color: #292929;
  height: 700px;
}

.tubo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.informacoes{
  float:right;
  width: 58%;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

del {
  color: red;
}

/* Botão de compra inicio */
.btn{
  font-family: 'Montserrat', sans-serif;
  font-size:10px;
  font-weight:700;
  text-transform: uppercase;
  border:none;
  padding:10px;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-green{
  background:green;
  color:#fff;
  box-shadow:0 5px 0 #006000;
  border-radius: 5px;
}

.btn-green:hover{
  background:#006000;
  box-shadow:0 5px 0 #003f00;
}

.btn-green:active{
  position:relative;
  top:5px;
  box-shadow:none;
}
/* Botão de compra fim */





.titulo-empresa{
  float:right;
  width: 100%;
  margin-top: 100px;
  color:black;
  background-color: white;
  text-align: center;
}

.zap {
  margin-left: 95px;
  display: inline-block;
  list-style: none;  
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-color: #292929;
  text-align: center;
}






main.cards {
  display: flex;
  padding: 32px;
}

main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #eee;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 468px;
  margin-left: 32px;
}

main.cards section.card .icon {
  width: 64px;
  height: 64px;
}

main.cards section.card img {
  width: 100%;
}

main.cards section.card h3 {
  font-size: 100%;
  margin: 16px 0;
}

.card .stars {
  width: 15px;
  display: flex;
}

@media screen and (max-width: 720px) {
  main.cards {
      flex-direction: column;
  }

  main.cards section.card {
      margin-left: 0;
      margin-bottom: 32px;
  }

  main.cards section.card:last-child {
      margin-bottom: 0;
  }

  main.cards section.card button {
      font-size: 70%;
  }

}

